run = "npm run dev:host"
onBoot = "npm install"
entrypoint = "index.js"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-20:v8-20230920-bd784b9"]

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = false
enabledForHosting = true

[unitTest]
language = "nodejs"

[languages.svelte]
pattern = "**/*.svelte"
syntax = "svelte"

[languages.svelte.languageServer]
command = ["svelteserver", "--stdio"]

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[languages.typescript]
pattern = "**/*.ts"
syntax = "typescript"

[languages.typescript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[nix]
channel = "stable-23_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 443

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
